#!/usr/bin/make -f
# export DH_VERBOSE = 1

PKG := node-red-contrib-play-audio
APPID := io.github.vitexus.node_red_contrib_play_audio

%:
	dh $@ --with nodejs

override_dh_install:
	dh_install
	install -D -m 644 debian/$(PKG).metainfo.xml \
	    debian/$(PKG)/usr/share/metainfo/$(APPID).metainfo.xml

override_dh_auto_test:
	appstreamcli validate --no-net debian/$(PKG).metainfo.xml
